[Unit]
Description=Idle manager for Wayland
Documentation=man:swayidle(1)
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/swayidle -w \
	    timeout 300 'if pgrep swaylock; then swaymsg "output * dpms off"; fi' \
		resume 'swaymsg "output * dpms on"'

[Install]
WantedBy=sway-session.target
