[Unit]
Description=Idle manager for Wayland
Documentation=man:swayidle(1)
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/swayidle -w \
exec swayidle -w \
         lock 'swaymsg "output * dpms off"' \
         resume 'swaymsg "output * dpms on"'

[Install]
WantedBy=sway-session.target
