[Unit]
Description=sway user session
Documentation=man:systemd.special(7)
Requires=basic.target
RefuseManualStart=yes
StopWhenUnneeded=yes
BindsTo=wayland-session.target
Before=wayland-session.target
